html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style: none;
}
a,
address {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
}
/*убрали дефолтные стили*/

:root {
  --text-color-white: #ffffff;
  --text-color-black: #323232;
  --text-color-grey: #999999;
  --accent-color: #4985ff;
  --border-color: #e0e0e0;
  --background-color: #f6f6f8;
}

/*общие стили для index.html */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: var(--text-color-grey);
  background-color: var(--text-color-white);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
}
.btn {
  font-weight: 500;
  line-height: 1.25;
  color: var(--text-color-white);
  background-color: var(--accent-color);
  border-radius: 30px;
  padding: 13px 36px 15px;
  display: inline-block;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: var(--text-color-black);
}
.link {
  color: var(--accent-color);
  text-decoration-line: underline;
}

/* удалить */
.hero {
  background-color: pink;
}
.page-header {
  background-color: pink;
}
.works-title,
.video {
  background-color: pink;
}

/*шапка сайта*/

.page-header {
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}
.nav-list {
  display: flex;
  justify-content: flex-end;
}
.nav-list-item .link {
  font-weight: 500;
  line-height: 1.25;
  color: var(--text-color-white);
  display: flex;
  padding: 40px 0px;
}
.nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.hero {
  text-align: center;
  padding: 220px 0px 335px;
}
.hero-text {
  font-weight: 500;
  line-height: 1.25;
  color: var(--text-color-white);
  margin-bottom: 20px;
}
.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  color: var(--text-color-white);
  margin-bottom: 50px;
}

.services {
  padding: 110px 0px 105px;
  text-align: center;
}
.services-title {
  margin-bottom: 50px;
}
.services-text {
  margin-bottom: 70px;
}
.services-list {
  display: flex;
}
.services-list li:not(:last-child) {
  margin-right: 27px;
}

.services-list li {
  display: flex;
  width: 353px;
  margin-bottom: 55px;
}

/*отсутп вокруг иконки, нужно удалить когда будет вектор */
.services-list img {
  padding: 35px;
}

.services-list-content {
  margin: 46px 0 0 17px;
}
.services-list-content h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color-black);
  margin-bottom: 12px;
}
.services-list-content p {
  font-size: 14px;
}

.standarts {
  padding: 100px 0 70px;
  background: var(--background-color);
}
.standarts-content {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}
.standarts-content img {
  border-radius: 30px;
  overflow: hidden;
}
.standarts-title {
  text-align: left;
  margin-bottom: 40px;
}
.standarts-text {
  margin-bottom: 30px;
}

.prjects-content {
  border-top: 1px solid var(--border-color);
}
.our-projects {
  text-align: center;
  display: flex;
  margin: 70px 95px;
}
.our-projects li:not(:last-child) {
  margin-right: 100px;
}
.our-projects div {
  display: flex;
  align-items: baseline;
}
.standarts .number {
  font-size: 36px;
  line-height: 1.47;
  color: var(--text-color-black);
  margin-left: 20px;
}

/* наши работы */
.works {
  padding: 100px 0 85px;
}

.works .container {
  border-bottom: 1px solid var(--border-color);
}
.works-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.works-title {
  text-align: left;
  color: var(--text-color-white);
}
.works-list {
  display: flex;
  margin-bottom: 85px;
}
.works-list li:not(:last-child) {
  margin-right: 30px;
}

.works-img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.works-list .number {
  color: var(--accent-color);
}
.works-list h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color-black);
  margin-bottom: 30px;
}
.works-list p {
  margin-bottom: 30px;
}

/* наши проэкты */

.projects {
  padding: 100px 0 130px;
  background-color: var(--background-color);
  text-align: center;
}
.projects-title {
  margin-bottom: 50px;
}
.projects-text {
  margin-bottom: 70px;
}
.projects-img {
  display: flex;
  margin-bottom: 50px;
}
.projects-img img {
  border-radius: 10px;
  overflow: hidden;
}
.projects-img li:not(:last-child) {
  margin-right: 30px;
}

/* видео о нашей работе */
.video {
  padding: 70px 0 85px;
  text-align: center;
}
.video .container {
  border-bottom: 1px solid var(--border-color);
}
.video-title {
  color: var(--text-color-white);
  margin-bottom: 30px;
}
.video-text {
  color: var(--text-color-white);
  margin-bottom: 70px;
}
.video-item {
  margin-bottom: 85px;
}

/* подпишитесь на розсылку */

.mailing {
  padding: 85px 0;
  text-align: center;
}
.mailing-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color-black);
  margin: 20px;
}
.mailing-text {
  margin-bottom: 30px;
}
.input-field {
  margin: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.input-field input {
  font-weight: 500;
  line-height: 1.25;
  color: var(--text-color-grey);
  background-color: var(--text-color-white);
  border-radius: 30px 0 0 30px;
  padding: 13px 36px 15px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border: 1px solid #f2f2f2;
}
.mailing .btn {
  border-radius: 0 30px 30px 0;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
.mailing-text-second {
  font-size: 13px;
  line-height: 1.61;
}
/* футер */

.footer {
  margin-left: 68px;
  padding: 70px 0 34px;
  background-color: var(--background-color);
}
.footer-nav {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 30px;
}
.footer-nav-content {
  width: 245px;
  margin-bottom: 70px;
}
.footer-nav-content:not(:last-child) {
  margin-right: 40px;
}
.footer-nav-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color-black);
  margin-bottom: 35px;
}
.footer-nav-content li:not(:last-child) {
  margin-bottom: 30px;
}
.copyright {
  font-size: 13px;
  line-height: 1.61;
  text-align: center;
}
